#draggables-container {
  position: absolute;
  left: 0px;
  top: 0px;
  /* width: 100vw;
  height: 100vh; */
  z-index: 3;
}

.draggables {
  position: absolute;
  width: 100px;
  height: 100px;

  z-index: 0;

  transition-property: height;
  transition-duration: 50ms;
  transition-timing-function: ease-out;

  user-select: none;
}

.drag-regions:hover {
  cursor: grab;
}

.drag-regions:active {
  cursor: grabbing;
}

.draggable-contents {
  position: absolute;
  top: 20px;
  height: calc(100% - 22px);
  width: calc(100% - 2px);

  border: solid black 1px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

  background-color: #ffffff;

  overflow: hidden;
}

.draggables.minimized {
  height: 20px !important;
}

.draggables.brights {
  filter: brightness(140%);
}

.draggables.unbrights {
  filter: brightness(100%);
  transition-property: filter;
  transition-duration: 100ms;
}

.draggable-headers {
  background-color: #538ed1;
  width: 100%;
  height: 20px;
  position: absolute;
  overflow: hidden;
}

.draggable-headers:hover {
  background-color: #78a5d9;
}

.draggable-titles {
  font-family: "Roboto Slab";
  height: 100%;
  width: calc(100% - 2px);
  white-space: nowrap;
  padding-left: 2px;

  user-select: none;
  /* text-overflow: ellipsis; */
  overflow: hidden;

  transition-property: width;
  transition-duration: 100ms;
  /* transition-timing-function: linear; */
}

.draggable-headers:hover .draggable-titles {
  width: calc(100% - 40px);
}

.draggable-deletes, .draggable-minimizes {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  height: 15px;
  width: 15px;
  right: -15px;

  pointer-events: none;

  transition-property: right;
  transition-duration: 100ms;
}

.draggable-deletes:hover, .draggable-minimizes:hover {
  cursor: pointer;
  filter: brightness(120%);
}

.draggable-headers:hover .draggable-deletes,
.draggable-headers:hover .draggable-minimizes {
  pointer-events: all;
}

.draggable-headers:hover .draggable-deletes {
  right: 2px;
}

.draggable-headers:hover .draggable-minimizes {
  right: 20px;
}

.draggable-deletes {
  border-radius: 100%;
  background-color: #d90000;
}

.draggable-minimizes {
  background-color: #d1d00a;
  border-radius: 30%;
}


.large-element-children {
  position: absolute;
  font-family: "Roboto Slab";
  user-select: none;
}

.large-element-symbols {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* width: 100%; */
  height: 55px;
  font-size: 40px;
  text-align: center;
}

.large-element-numbers {
  top: 0px;
  left: 0px;
  padding: 0px 4px;
}

.large-element-masses {
  right: 0px;
  top: 0px;
  padding: 0px 4px;
  text-align: right;
}

.large-element-children.clickables:hover {
  cursor: pointer;
  outline: solid yellow 2px;
  background: #00ff2b33;
}

.large-element-lewis-dots {
  height: 7px;
  width: 7px;
  border-radius: 100%;
  background-color: #ab9200;

  transform: translate(-50%, -50%);
}

.large-element-configurations {
  white-space: nowrap;
  left: 0px;
  bottom: 0px;
  font-size: 10px;
  height: 13px;

  display: flex;
  flex-direction: row;
  width: 100%;

  align-items: baseline;

  transition-duration: 100ms;
  transition-property: height;
}

.large-element-configurations:hover {
  height: 20px;
}

.large-element-configuration-terms {
  font-size: 1em;
  flex-grow: 1;

  transition-duration: 100ms;
  transition-property: flex-grow, font-size, max-width;
  text-align: center;
  height: 13px;
  max-width: 20px;
}

.large-element-configuration-terms:hover {
  cursor: pointer;
  margin: 0px;
  flex-grow: 3;
  font-size: 1.3em;
  color: green;
  background-color: lightgrey;
  height: 20px;
  max-width: 999px;
}

.large-element-configuration-shells,
.large-element-configuration-subshells,
.large-element-configuration-indicies {
  display: inline-block;
  /* position: relative; */
}

.large-element-configuration-indicies {
  font-size: 0.5em;
  vertical-align: top;
}

.large-element-more-infos {
  width: 5px;
  height: 50px;
  background-color: #d3eced;
  
  border: solid black 2px;
  border-left: none;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;

  top: calc(50% - 25px);

  transition-property: width;
  transition-duration :100ms;
}

.large-element-more-infos:hover {
  cursor: pointer;
  width: 20px;
}

.large-element-more-infos:hover::before {
  content: "i";
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: blue; /* I hate this color, but it works in small portions */
}


.big-number-children {
  position: absolute;
  font-family: "Roboto Slab";
  user-select: none;
}

.big-number-backgrounds {
  width: 100%;
  height: 100%;
  background-color: #b5e7c3;
}

.big-number-backgrounds:hover {
  cursor: pointer;
  background-color: #cdf1ce;
}

.big-number-values {
  padding-left: 2px;
  width: calc(100% - 2px);
  
  left: 0px;
  top: 50%;
  transform: translateY(-50%);

  text-align: center;
  font-size: 20px;

  text-overflow: ellipsis;
  overflow: hidden;
}

.big-number-copieds {
  top: 0px;
  left: 0px;
  background-color: orange;
  padding: 0px 2px;
  font-size: 10px;

  transform: translateY(-100%);

  z-index: 1;

  transition-property: transform;
  transition-duration: 100ms;

  color: white;
  background-color: black;
}

.big-number-copieds.actives {
  transform: translateY(0);
}



.isotope-display-children {
  position: absolute;
  font-family: "Roboto Slab";
  user-select: none;
}

.isotope-display-graphs {
  width: 100px;
  height: 100px;
  background-color: cornsilk;
  display: flex;
  margin-bottom: 0px;

  /* left: 10px; */

  border-right: solid 2px black;
  /* border-bottom: solid 2px; */
  /* border-left: solid 2px; */

  overflow: hidden;
}

.isotope-display-graph-bars {
  height: 100%;
  display: inline-block;
  flex: 1 1 0px;
}

.isotope-display-graph-bars:nth-child(even) {
  background-color: #88a3db;
}

.isotope-display-graph-bars:nth-child(odd) {
  background-color: #bdd2ff;
}

.isotope-display-graph-bars:hover {
  cursor: pointer;
  background-color: #85abf7;

  flex-grow: 2;
}

.isotope-display-graph-bars.actives .isotope-display-graph-bar-graphics {
  cursor: pointer;
  background-color: yellow;
}

.isotope-display-graph-bar-graphics {
  background-color: black;
  width: 50%;
  max-width: 10px;

  margin: auto;
  position: relative;
}

.isotope-display-graph-bar-graphics.unavailables {
  /* background-color: grey; */
  background-image: url(missing.png);
  background-color: #b3b3b3;
}

.isotope-display-graph-bar-dividers {
  position: relative;

  width: 100%;
  border-top: solid 2px black;
}

.isotope-display-graph-bar-numbers {
  position: relative;
  
  width: 100%;
  height: 0px;

  left: calc(50% - 2px);
}

.isotope-display-graph-bar-numbers-value {
  font-size: 9px;
  width: 0px;

  transform: translateY(-2px) rotate(45deg);
}

.isotope-display-graph-bars.actives .isotope-display-graph-bar-numbers-value {
  color: yellow !important;
}

.isotope-display-headers,
.isotope-display-values {
  left: 100px;
  width: 100px;
  
  text-align: center;
}

.isotope-display-headers {
  font-size: 10px;
  border-bottom: dashed black 1px;
}

.isotope-display-headers:not(:first-child) {
  border-top: solid black 1px;
}

.isotope-display-values {
  font-size: 12px;
}

.isotope-display-values:hover {
  cursor: pointer;
  background-color: #c7c7c7;
}


.electron-configuration-term-holders {
  display: flex;
  flex-direction: row;
}

.electron-configuration-terms {
  margin-right: 5px;
}

.electron-configuration-subshells {
  display: inline-block;
  font-size: 15px;
}

.electron-configuration-indicies {
  display: inline-block;
  font-size: 10px;
  vertical-align: top;
}


.raw-data-children {
  position: absolute;
  position: absolute;
  font-family: "Roboto Slab";
}

.raw-data-data {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  padding: 5px;
  /* margin-left: 5px;
  margin-top: 5px; */
  overflow: auto;

  font-size: 10px;

  white-space: pre;
  user-select: text;

  background-color: #212e3a;
  background-color: #dcdcaa;

  font-family: "Source Code Pro";
}

.raw-data-data:hover {
  cursor: text;
}